<style lang="scss" scoped>
.header {
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0px;
    color: #da552f;
  }
  .header__container {
    padding: 13px 15px;
    width: 100%;
    max-width: 1300px;
  }
}
.content {
  .content__container {
    // padding: 15px 13px;
    padding: 30px 0px;
    width: 100%;
    max-width: 1300px;
  }
}

.button--orange {
  background: #da552f;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 5px 20px;
  border-radius: 3px;
  border: 1px solid #cc4824;
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    background: #cc4824;
  }
}
.button--gray {
  background: #fff;
  font-weight: 600;
  font-size: 14px;
  color: #222;
  text-align: center;
  padding: 5px 20px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    background: #e8e8e8;
  }
}
</style>

<template>
  <div>
    <Header/>
    <div class="content d-flex flex-row justify-content-center">
      <div class="content__container d-flex flex-row justify-content-center">
        <div class="col-4 d-flex flex-column">
          <Submit/>
        </div>
        <div class="col-8 d-flex flex-column">
          <Preview/>
        </div>
      </div>
    </div>

    <Drafts/>
  </div>
</template>

<script>
import Submit from "@/components/Submit.vue";
import Preview from "@/components/Preview.vue";
import Drafts from "@/components/Drafts.vue";
import Header from "@/components/Header.vue";

export default {
  name: "Home",
  components: {
    Submit,
    Preview,
    Drafts,
    Header
  },
  computed: {
    state: function() {
      return this.$store.getters["store/state"];
    },
    drafts: function() {
      return this.$store.getters["drafts/drafts"];
    }
  },
  methods: {
    save() {
      this.$store.dispatch("drafts/state", {
        to: "change",
        value: this.state
      });
    },
    show() {
      this.$modal.show("my-drafts");
    },
    hide() {
      this.$modal.hide("my-drafts");
    }
  }
};
</script>
