<style scoped lang="scss">
.wrapper {
  padding: 20px;
  background: #f3f3f3;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.draft__image {
  height: 80px;
  width: 80px;
}
.draft {
  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  background: #fff;
  padding: 20px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  .l--title {
    font-size: 20px;
    color: #222;
    margin: 0px;
    font-weight: 600;
  }
  .l--description {
    color: #757575;
    font-size: 13px;
    margin: 0px 0px 10px 0px;
  }
  .l--tag {
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    color: #757575;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 10px;
    padding: 2px 10px;
    border-radius: 2px;
    &:first-child {
      margin-left: 0px;
    }
  }
  .l--info {
    color: #757575;
    font-size: 11px;
    font-weight: 400;
    padding: 2px 10px 0 0;
  }
  .l--inner {
    padding-left: 10px;
  }
}

.upvote {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding: 20px 30px;
  cursor: pointer;
  i {
    margin-bottom: -5px;
  }
  span {
    font-weight: 600;
  }
  &:hover {
    background: #e8e8e8;
  }
}
</style>


<template>
  <modal name="my-drafts" :width="800" :height="500">
    <div class="wrapper">
      <p v-if="drafts.length === 0">No Drafts</p>
      <div
        v-for="(item, index) in drafts"
        :key="index"
        class="d-flex flex-row draft justify-content-between"
      >
        <div class="d-flex flex-row">
          <img :src="item.thumbnail" class="draft__image">

          <div class="d-flex flex-column l--inner">
            <span class="l--title">{{item.name}}</span>
            <span class="l--description">{{item.tagline}}</span>
            <div class="d-flex flex-row">
              <span class="l--info" v-for="(cat, catIn) in item.topics" :key="catIn">{{cat}}</span>
            </div>
          </div>
        </div>
        <span class="upvote d-flex flex-column justify-content-center">
          <i class="fa fa-sort-asc" aria-hidden="true"></i>
          <span>2</span>
        </span>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  name: "Drafts",
  computed: {
    state: function() {
      return this.$store.getters["store/state"];
    },
    drafts: function() {
      return this.$store.getters["drafts/drafts"];
    }
  }
};
</script>
