<style scoped lang="scss">
.header {
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0px;
    color: #da552f;
  }
  .header__container {
    padding: 13px 15px;
    width: 100%;
    max-width: 1300px;
  }
}

.button--orange {
  background: #da552f;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 5px 20px;
  border-radius: 3px;
  border: 1px solid #cc4824;
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    background: #cc4824;
  }
}
.button--gray {
  background: #fff;
  font-weight: 600;
  font-size: 14px;
  color: #222;
  text-align: center;
  padding: 5px 20px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    background: #e8e8e8;
  }
}
</style>


<template>
  <div class="header d-flex flex-row justify-content-center">
    <div class="header__container d-flex flex-row justify-content-between align-items-center">
      <div class="d-flex flex-row align-items-center">
        <h1>Product Hunt Launch Previewer</h1>
        <span>Don't forget to save your progress...</span>
      </div>
      <div class="d-flex flex-row">
        <span class="button--gray" @click="create">New Product</span>
        <span class="button--gray" @click="show">My Drafts</span>
        <span class="button--orange" @click="save">Save Draft</span>
      </div>
    </div>
  </div>
</template>

<script>
import uniqid from "uniqid";

export default {
  name: "Header",
  computed: {
    state: function() {
      return this.$store.getters["store/state"];
    },
    drafts: function() {
      return this.$store.getters["drafts/drafts"];
    }
  },
  methods: {
    create() {
      let state = {
        id: uniqid(),
        name: "",
        tagline: "",
        topics: [],
        download: [""],
        thumbnail: "",
        status: false,
        gallery: [],
        youtube: "",
        description: "",
        isMaker: false,
        maker: "",
        comment: ""
      };

      this.$store.dispatch("store/state", {
        to: "replace",
        value: state
      });

      this.$store.dispatch("drafts/state", {
        to: "change",
        value: state
      });
    },
    save() {
      this.$store.dispatch("drafts/state", {
        to: "change",
        value: this.state
      });
    },
    show() {
      this.$modal.show("my-drafts");
    },
    hide() {
      this.$modal.hide("my-drafts");
    }
  }
};
</script>
