<style lang="scss" scoped>
.flex-grow {
  flex: 1;
}
.mb0 {
  margin-bottom: 0;
}
.mb10 {
  margin-bottom: 10px;
}
.card {
  font-size: 13px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(125, 125, 125, 0.1);
}
.card__title {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  .card__title-info {
    color: #999;
    font-weight: 400;
  }
}
.card__title--no-margin {
  margin-bottom: 0px;
}

.card__info {
  font-size: 13px;
  line-height: 20px;
  color: #999;
  font-weight: 400;
  margin-bottom: 10px;
}

.card__input {
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  font-size: 13px;
  padding: 10px;
  height: 35px;
  &:focus {
    outline: none;
    border-color: #b2d9ff;
  }
}
.card__select {
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  font-size: 13px;
  padding: 10px;
  height: 35px;
  &:focus {
    outline: none;
    border-color: #b2d9ff;
  }
}
.card__textarea {
  white-space: pre-wrap !important;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  font-size: 13px;
  padding: 10px;
  min-height: 70px;
  // resize: none;
  resize: both;
  &:focus {
    outline: none;
    border-color: #b2d9ff;
  }
  &.l--large{
    min-height: 200px;
  }
}

.card__thumbnail {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  border: 1px solid #0000001a;
  margin-right: 10px;
}
.card__carousell {
  margin-bottom: 20px;
}
.card__carousell--thumbnail {
  overflow-x: scroll;
  overflow-y: hidden;
  img {
    height: 100%;
    width: 100%;
    margin-right: 10px;
  }
}
.card__carousell_preview--thumbnail {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  background: #e8e8e8;
  display: block;
}
.card__carousell_preview--featured {
  width: 380px;
  height: 380px;
  max-width: 380px;
  max-height: 380px;
  background: #e8e8e8;
  display: block;
}
.card__carousell--featured {
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 380px;
  img {
    height: 100%;
    // width: 100%;
    margin-right: 10px;
  }
}

.button {
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  font-size: 13px;
  padding: 0px 13px;
  margin-left: 5px;
  cursor: pointer;
  &:hover {
    background: #f3f3f3;
  }
}

.card__division {
  margin-bottom: 20px;
  width: 100%;
}

.card__checkbox {
  span {
    padding-left: 10px;
    font-size: 13px;
  }
}

.headline {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

.tags {
  white-space: nowrap;
  background: #f8f8f8;
  border: 1px solid #e8e8e8;
  color: #757575;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 5px;
  padding: 2px 10px;
  border-radius: 2px;
  margin-bottom: 3px;
}

.orange {
  color: #da552f;
}
</style>

<template>
  <div>
    <p class="headline">Submit</p>
    <div class="card d-flex flex-column">
      <div class="card__division d-flex flex-column">
        <p class="card__title">
          Name of the Product
          <span class="card__title-info">- Required</span>
        </p>
        <input class="card__input" placeholder="Simply the name of the product" v-model="name">
      </div>

      <div class="card__division d-flex flex-column">
        <p class="card__title">
          Tagline
          <span class="card__title-info">- Required</span>
        </p>
        <input
          class="card__input"
          placeholder="Concise and descriptive tagline for the product"
          v-model="tagline"
        >
      </div>

      <div class="card__division d-flex flex-column">
        <p class="card__title">Topics</p>
        <div class="d-flex flex-row flex-wrap mb10">
          <span
            class="tags"
            v-for="(topic, index) in topics"
            :key="index"
            @click="removeTopic(topic)"
          >{{topic}}</span>
        </div>
        <!-- <input class="card__input" placeholder="Add a topic">         -->
        <div class="d-flex flex-row">
          <select v-model="topic" class="flex-grow card__select" placeholder="Please select one">
            <option disabled value>Please select one</option>
            <option v-for="(val, index) in allTopics" :key="index">{{val}}</option>
          </select>
          <span @click="addTopic" class="button d-flex flex-row align-items-center">Add</span>
        </div>
      </div>

      <div class="card__division d-flex flex-column">
        <p class="card__title">
          Download Links
          <span class="card__title-info">- App Store, Google Play...</span>
        </p>
        <div class="d-flex flex-row mb10" v-for="(item, index) in download" :key="index">
          <input
            class="card__input flex-grow"
            placeholder="https://"
            :value="item"
            @input="event => updateDownload(index, event)"
          >
          <span class="button d-flex flex-row align-items-center" @click="removeDownload(index)">-</span>
        </div>
        <p class="orange mb0" @click="addDownload">+ add another download link</p>
      </div>

      <div class="card__division d-flex flex-column">
        <p class="card__title card__title--no-margin">
          Thumbnail
          <span class="card__title-info">- Required</span>
        </p>
        <span class="card__info">Recommended size: 240x240. JPG, PNG, GIF. Max weight: 2MB</span>
        <div class="d-flex flex-row mb10">
          <input class="card__input flex-grow" placeholder="Image url" v-model="setThumbnail">
          <span @click="addThumbnail" class="button d-flex flex-row align-items-center">Add</span>
        </div>
        <p class="orange mb0" @click="uploadPicture('thumbnail')">or upload</p>
      </div>

      <div class="card__division d-flex flex-column">
        <p class="card__title">Status</p>
        <div class="card__checkbox d-flex flex-row items-align-center">
          <input type="checkbox">
          <span>This product isn't available yet</span>
        </div>
      </div>

      <hr>

      <div class="card__division d-flex flex-column">
        <p class="card__title card__title--no-margin">
          Gallery
          <span class="card__title-info">- Required</span>
        </p>
        <span class="card__info">Recommended size: 635x380px.</span>
        <div class="card__carousell card__carousell--thumbnail d-flex flex-row mb0">
          <img
            class="card__thumbnail"
            v-for="(image, index) in gallery"
            :key="index"
            :src="image"
            @click="removeGallery(index)"
          >
          <div class="card__carousell_preview--thumbnail"></div>
        </div>
        <div class="d-flex flex-row mb10">
          <input class="card__input flex-grow" placeholder="Image url" v-model="setGallery">
          <span @click="addGallery" class="button d-flex flex-row align-items-center">Add</span>
        </div>
        <p class="orange mb0" @click="uploadPicture('gallery')">or upload</p>
      </div>

      <div class="card__division d-flex flex-column">
        <p class="card__title">
          YouTube video
          <span class="card__title-info">- Optional</span>
        </p>
        <div class="d-flex flex-row">
          <input class="card__input flex-grow" placeholder="Video of the product">
          <span @click="addTopic" class="button d-flex flex-row align-items-center">Add</span>
        </div>
      </div>

      <div class="card__division d-flex flex-column">
        <p class="card__title">
          Description
          <span class="card__title-info">- Required</span>
        </p>
        <textarea placeholder="Quick description of your product..." class="card__textarea" v-model="description"></textarea>
      </div>

      <div class="card__division d-flex flex-column">
        <p class="card__title">Are you a Maker of this product?</p>
        <div class="card__checkbox d-flex flex-row items-align-center">
          <input type="checkbox">
          <span>Yes, I worked on this product</span>
        </div>
      </div>

      <hr>

      <div class="card__division d-flex flex-column">
        <p class="card__title">Makers</p>
        <input class="card__input" placeholder="Maker..." v-model="maker">
      </div>

      <div class="card__division d-flex flex-column">
        <p class="card__title">Write the first comment</p>
        <textarea
          class="card__textarea l--large"
          placeholder="Explain how you discovered this product... invite people to join the conversation, ask questions to the Makers."
          v-model="comment"
        ></textarea>
      </div>
    </div>

    <form enctype="multipart/form-data" v-show="false">
      <input
        type="file"
        ref="uploadPicture"
        @change="onFileChanged($event, upload.type, upload.index)"
        name="avatar"
      >
    </form>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Submit",
  data: function() {
    return {
      topic: "",
      setThumbnail: "",
      setGallery: "",
      setYoutube: "",
      upload: {
        type: ""
      }
    };
  },
  computed: {
    allTopics: function() {
      return this.$store.getters["topics/all"];
    },
    name: {
      get: function() {
        return this.$store.getters["store/state"].name;
      },
      set: function(newValue) {
        this.$store.dispatch("store/state", {
          to: "change",
          component: "name",
          value: newValue
        });
      }
    },
    tagline: {
      get: function() {
        return this.$store.getters["store/state"].tagline;
      },
      set: function(newValue) {
        this.$store.dispatch("store/state", {
          to: "change",
          component: "tagline",
          value: newValue
        });
      }
    },
    topics: function() {
      return this.$store.getters["store/state"].topics;
    },

    download: function() {
      return this.$store.getters["store/state"].download;
    },
    thumbnail: function() {
      return this.$store.getters["store/state"].thumbnail;
    },
    gallery: function() {
      return this.$store.getters["store/state"].gallery;
    },
    youtube: function() {
      return this.$store.getters["store/state"].youtube;
    },
    description: {
      get: function() {
        return this.$store.getters["store/state"].description;
      },
      set: function(newValue) {
        this.$store.dispatch("store/state", {
          to: "change",
          component: "description",
          value: newValue
        });
      }
    },
    maker: {
      get: function() {
        return this.$store.getters["store/state"].maker;
      },
      set: function(newValue) {
        this.$store.dispatch("store/state", {
          to: "change",
          component: "maker",
          value: newValue
        });
      }
    },
    comment: {
      get: function() {
        return this.$store.getters["store/state"].comment;
      },
      set: function(newValue) {
        this.$store.dispatch("store/state", {
          to: "change",
          component: "comment",
          value: newValue
        });
      }
    }
  },
  methods: {
    setPicture(newValue, type, index = undefined) {
      if (type === "thumbnail") {
        this.$store.dispatch("store/state", {
          to: "change",
          component: "thumbnail",
          value: newValue
        });
      } else if (type === "gallery") {
        this.$store.dispatch("store/state", {
          to: "add",
          component: "gallery",
          value: newValue
        });
      }
    },
    uploadPicture(type, index) {
      this.upload.type = type;
      this.$refs.uploadPicture.click();
    },
    onFileChanged(event, category, item) {
      let file = event.target.files[0];
      let type = this.upload.type;
      if (
        (file.type === "image/png" ||
          file.type === "image/jpg" ||
          file.type === "image/jpeg") &&
        file.size / 1000 / 1000 <= 10
      ) {
        //Upload
        const formData = new FormData();
        formData.append("avatar", file, file.name);
        axios
          .post("https://arena-resources.com/create/upload", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(res => {
            console.log(res.data.link);
            if (type === "thumbnail") {
              this.setPicture(res.data.link, "thumbnail");
            } else if (type === "gallery") {
              this.setPicture(res.data.link, "gallery");
            }
          });
      }
    },
    updateDownload(index, event) {
      console.log(index, event);
      this.$store.dispatch("store/state", {
        to: "changeWithIndex",
        component: "download",
        index: index,
        value: event.target.value
      });
    },
    addTopic: function() {
      if (this.topic === "") {
        return;
      }
      this.$store.dispatch("store/state", {
        to: "add",
        component: "topics",
        value: this.topic
      });
    },
    removeTopic: function(topic) {
      this.$store.dispatch("store/state", {
        to: "remove",
        component: "topics",
        value: topic
      });
    },
    addDownload: function() {
      this.$store.dispatch("store/state", {
        to: "add",
        component: "download",
        value: ""
      });
    },
    removeDownload: function(index) {
      this.$store.dispatch("store/state", {
        to: "removeByIndex",
        component: "download",
        index: index
      });
    },
    addThumbnail: function() {
      this.$store.dispatch("store/state", {
        to: "change",
        component: "thumbnail",
        value: this.setThumbnail
      });
    },
    addGallery: function() {
      console.log(this.setGallery);
      this.$store.dispatch("store/state", {
        to: "add",
        component: "gallery",
        value: this.setGallery
      });
    },
    removeGallery: function(index) {
      this.$store.dispatch("store/state", {
        to: "removeByIndex",
        component: "gallery",
        index: index
      });
    },
    addYoutube: function() {
      this.$store.dispatch("store/state", {
        to: "change",
        component: "youtube",
        value: this.setYoutube
      });
    }
  }
};
</script>